*{
    box-sizing: border-box;
}
:root{
    --bg-color: #111827;
    --color-base: #28395c;
    --color-analogous: #8090f3;
    --box-color:#f0f3f8;
    --box-color-2:#ccd6e9;
    --color-text:#eeeeee;

}

body{
    margin: 0 ;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg-color);
}

h1{
    text-align: center;
    font-size: 3rem;
    color: var(--color-text);
}

header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width:90%;
    margin: auto auto;
}

input{
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%;
    background: var(--box-color);
    color: var(--color-base);
}

::placeholder {
    color: var(--color-base);
    opacity: 1; 
}

button.add{
    width: 20%;
    cursor: pointer;
    background: var(--color-base);
    color: var(--color-text);
    font-weight: bold;
    border: none;
    height: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

main{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
    padding-top: 40px;
}

.item{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: var(--box-color);
    height: 80px;
    width: 100%;
    /*box-shadow: 0 0 50px var(--coloranalogous);*/
    margin-bottom:2%;
    cursor: pointer;
    color: var(--color-base);
}

.item.clicado{
    background: var(--box-color-2);
}

.item.clicado .item-nome{
    text-decoration: line-through;
    color: var(--color-analogous);
}

.item-icone{
flex: 20%;
text-align: center;
font-size: 2rem;
}

.item-nome{
    flex: 55%;
    font-size: 20px;
    font-weight: bold;
}

.item-botao{
flex: 25%;
}

.delete{
    background: var(--color-analogous);
    color: var(--color-text);
    border: none;
    padding: 10px;
    height: 80px;
    width: 100%;
    cursor: pointer;
}

.mdi-check-circle{
    color: var(--color-analogous);
}
